@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@400;700&family=Ubuntu:wght@400;700&display=swap");

body {
  font-family: "Ubuntu", sans-serif;
}

h5 {
  font-family: "Rubato", sans-serif;
}

.footer-container .footerText {
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-family: "Ubuntu", sans-serif;
}

.footerList {
  padding: 0;
}

.footerList li {
  list-style: none;
  padding: 0;
}

.footerTitle {
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
}
